# Python
__pycache__/
*.py[cod]

# Virtual environment
.env
env/
venv/

# Django
*.sqlite3
db.sqlite3
*.log

# IDEs and editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static & Media (optional, recommended)
node_modules/
staticfiles/
static/css/
static/js/
media/

# Deployment config (optional)
#render.yaml
